Cau3.txt
[{"id":"5ed1e9c5.e1a868","type":"inject","z":"d49120df.29f9b","name":"","topic":"","payload":"hutech school","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":280,"wires":[["922497d6.c219c8"]]},{"id":"922497d6.c219c8","type":"function","z":"d49120df.29f9b","name":"","func":"function toTitleCase(str) {\n    return str.replace(/\\w\\S*/g, function(txt){\n        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();\n    });\n}\nvar newMsg = { payload: toTitleCase(msg.payload) };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["a01b7268.f4f88"]]},{"id":"a01b7268.f4f88","type":"debug","z":"d49120df.29f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":240,"wires":[]}]