cau4.txt
[{"id":"ce530e4f.f9d75","type":"inject","z":"59c08a32.153e84","name":"","topic":"","payload":"","payloadType":"num","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":50,"y":280,"wires":[["fb6f4939.a145c8"]]},{"id":"fb6f4939.a145c8","type":"function","z":"59c08a32.153e84","name":"Random","func":"const random = {};\nrandom.payload = Math.floor((Math.random() * 20) + 20);\nreturn random;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["f088ce42.eab53"]]},{"id":"6ef1d9bc.a569d8","type":"debug","z":"59c08a32.153e84","name":"Lower 25","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":240,"wires":[]},{"id":"f088ce42.eab53","type":"function","z":"59c08a32.153e84","name":"Switch","func":"const result = {};\nif (msg.payload <= 25) {\n    result.messenger = 'Lower 25';\n    result.nhietdo = msg.payload;\n    return [ result, null, null ];\n}\nif(msg.payload >= 32)\n{\n    result.messenger = 'Over 32';\n    result.nhietdo = msg.payload;\n    return [ null, result, null ];\n}\nif(msg.payload > 25 && msg.payload < 32)\n{\n    result.messenger = 'Normal';\n    result.nhietdo = msg.payload;\n    return [ null, null, result ];\n}","outputs":3,"noerr":0,"x":470,"y":280,"wires":[["6ef1d9bc.a569d8"],["77db7116.e538c"],["cf3580fd.44bf6"]]},{"id":"77db7116.e538c","type":"debug","z":"59c08a32.153e84","name":"Over 32","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":708,"y":314,"wires":[]},{"id":"cf3580fd.44bf6","type":"debug","z":"59c08a32.153e84","name":"Normal","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":704,"y":387,"wires":[]}]