Cau7.txt

[{"id":"8f1e8e4b.dcce6","type":"inject","z":"2bf15a48.f76e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["f4844242.992c8"]]},{"id":"f4844242.992c8","type":"function","z":"2bf15a48.f76e76","name":"Random","func":"function random(min,max)\n{\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min)) + min;\n}\n\nvar x=random(0.5,2.4);\nvar y=random(40,80);\nmsg.payload={\"EC\":x, \"Humi\":y};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["e4256cf2.090e1"]]},{"id":"e4256cf2.090e1","type":"mqtt out","z":"2bf15a48.f76e76","name":"Req","topic":"OLPC-02/Sensor03","qos":"2","retain":"true","broker":"2389ad63.9d2b02","x":770,"y":200,"wires":[]},{"id":"e72cfb46.a943e8","type":"mqtt in","z":"2bf15a48.f76e76","name":"RES","topic":"OLPC-02/Sensor03","qos":"2","broker":"2389ad63.9d2b02","x":230,"y":300,"wires":[["74c45952.8fe8d8","b98742a1.25cd8"]]},{"id":"b98742a1.25cd8","type":"ui_chart","z":"2bf15a48.f76e76","name":"","group":"b0b36c54.be95f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":360,"wires":[[],[]]},{"id":"74c45952.8fe8d8","type":"debug","z":"2bf15a48.f76e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":300,"wires":[]},{"id":"c9f2fdce.b9b21","type":"function","z":"2bf15a48.f76e76","name":"cutString","func":"const result = {};\nresult.payload = msg.payload;\nconst arrTDS = result.payload.split(\"TDS: \");\nconst TDS = arrTDS[1];\nconst convert = parseInt(TDS);\nresult.payload = convert;\nreturn result;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[[]]},{"id":"2389ad63.9d2b02","type":"mqtt-broker","z":"","name":"Res6","broker":"broker.hivemq.com","port":"1883","clientid":"Res6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0b36c54.be95f","type":"ui_group","z":"","name":"Default","tab":"deba17b2.1f27e8","disp":true,"width":"6","collapse":false},{"id":"deba17b2.1f27e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4}]