Cau8.txt
[{"id":"85412835.86a578","type":"mongodb out","z":"159a16e.d734de9","mongodb":"5ef4b8a6.2e3068","name":"","collection":"val","payonly":true,"upsert":false,"multi":false,"operation":"store","x":830,"y":160,"wires":[]},{"id":"541c749a.81f8ac","type":"inject","z":"159a16e.d734de9","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["a8eb4ae4.6271d8","276e47a4.ce2818","45dc75b1.94603c"]]},{"id":"45dc75b1.94603c","type":"function","z":"159a16e.d734de9","name":"6","func":"function random(min,max)\n{\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min)) + min;\n}\n\nvar x=random(280,1400); \nmsg.payload={\"TDS\":x};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["85412835.86a578"]]},{"id":"276e47a4.ce2818","type":"function","z":"159a16e.d734de9","name":"5","func":"function random(min,max)\n{\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min)) + min;\n}\n\nvar x=random(20,40); \n\nmsg.payload={\"temp\":x};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["85412835.86a578"]]},{"id":"a8eb4ae4.6271d8","type":"function","z":"159a16e.d734de9","name":"7","func":"function random(min,max)\n{\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min)) + min;\n}\n\nvar x=random(0.5,2.4); \nvar y=random(40,80); \nmsg.payload={\"ec\":x,\"humi\":y};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["85412835.86a578"]]},{"id":"bc4e9403.743478","type":"mqtt out","z":"159a16e.d734de9","name":"","topic":"abc","qos":"","retain":"","broker":"4248de62.ee24f","x":750,"y":320,"wires":[]},{"id":"6bba4e9.382a3b","type":"mqtt in","z":"159a16e.d734de9","name":"","topic":"abc","qos":"2","broker":"4248de62.ee24f","x":750,"y":400,"wires":[[]]},{"id":"5ef4b8a6.2e3068","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"demo","name":""},{"id":"4248de62.ee24f","type":"mqtt-broker","z":"","name":"Res6","broker":"broker.hivemq.com","port":"1883","clientid":"Req6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]